.theme-bg{
  background-color:lightcoral;
}
.h-background{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  background-attachment: fixed;
}
.about-cover{
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  margin-bottom: 10vh;
  padding-bottom: 20%;
}