.theme-bg{
  background-color: #45CE30;
}
.h-background{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.heading{
  background-color: #487EB0;
}
.dualinfo{
  background-color: #487EB0;
}
.about-cover{
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}